@model DATH.Models.DangKiThamGiaHD

@{
    ViewBag.Title = "InChungNhan";
    Layout = "~/Views/LayOut/QuantriLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<img hidden id="hutech" src="~/images/hutechnew.jpg" width="220" height="170" />
<p hidden id="hoten">@Model.NguoiDung.Ho_Ten</p>
<p hidden id="mssv">@Model.NguoiDung.SoId</p>
<p hidden id="lop">@Model.NguoiDung.Lop.TenLop</p>
<p hidden id="hoatdong">@Model.HoatDong.TenHoatDong</p>
<p hidden id="dvtc"> - Đơn vị tổ chức: @Model.HoatDong.DonViToChuc.TenDonVi</p>
<p hidden id="tgbd">@ViewBag.day/@ViewBag.month/@ViewBag.year</p>
<p hidden id="day">@ViewBag.day</p>
<p hidden id="month">@ViewBag.month</p>
<p hidden id="year">@ViewBag.year</p>
<p hidden id="scn">Số: <strong hidden id="masocn">@ViewBag.scn</strong> /CN<strong hidden id="year">@ViewBag.year</strong>CNTT</p>
<button id="bu" onclick="Laycn(@Model.IdDangKiHD)" style="cursor:pointer;width:80px;height:30px">Download</button>
<br />
<br />
@*<img  id="scream" style="margin-left:100px;margin-top:-50px;width:730px;height:470px" src="~/images/certificate.png" />*@
@*<canvas id="myCanvas" style="margin-left:50px" width="1000" height="1000"></canvas>*@
<img hidden id="scream" src="~/images/@Model.HoatDong.Background" />
<canvas style="margin-top:-50px;margin-left:80px" id="myCanvas" width="1000" height="700"></canvas>
<script>
    
    //$(document).ready(function () {
    // Lấy thẻ HTML Canvas
    window.onload = function () {
        var dwn = document.getElementById('bu');

        var canvas = document.getElementById("myCanvas");

        var ctx = canvas.getContext("2d");
        var img = document.getElementById("scream");
        ctx.drawImage(img, 80, 0, 701.6, 503.2);

        //var ctx1 = canvas.getContext("2d");
        //ctx1.strokeStyle = "red";
        //ctx1.moveTo(430, 20);
        //ctx1.lineTo(430, 370);
        //ctx1.stroke();

        var de = $('#hoten').text();
        var d = canvas.getContext('2d');
        d.font = '13pt VNF-Futura';
        ctx.textAlign = "center";
        d.fillStyle = 'blue'
        d.fillText(de, 430, 206);

        var de1 = $('#mssv').text();
        var d1 = canvas.getContext('2d');
        d1.font = '9pt VNF-Futura';
        d1.fillStyle = 'black'
        d1.fillText(de1, 404, 229);

        var de2 = $('#lop').text();
        var d2 = canvas.getContext('2d');
        d2.font = '9pt VNF-Futura';
        d2.fillStyle = 'black'
        d2.fillText(de2, 513, 229);

        var ef = $('#hoatdong').text();
        var e = canvas.getContext('2d');
        e.font = 'bold 14pt VNF-Futura';
        ctx.textAlign = "center";
        e.fillStyle = 'red'
        e.fillText(ef, 430, 280);

        var de3 = $('#tgbd').text();
        var d3 = canvas.getContext('2d');
        d3.font = '9pt VNF-Futura';
        d3.fillStyle = 'black'
        d3.fillText(de3, 469, 301);

        var dvtc = $('#dvtc').text();
        var dv = canvas.getContext('2d');
        dv.font = '9pt VNF-Futura';
        dv.fillStyle = 'black'
        dv.fillText(dvtc, 554, 301);
        //dv.fillText(dvtc, 515, 301);

        var de4 = $('#day').text();
        var d4 = canvas.getContext('2d');
        d4.font = '6pt VNF-Futura';
        d4.fillStyle = 'black'
        d4.fillText(de4, 599, 322);

        var de5 = $('#month').text();
        var d5 = canvas.getContext('2d');
        d5.font = '6pt VNF-Futura';
        d5.fillStyle = 'black'
        d5.fillText(de5, 647, 322);

        var de6 = $('#year').text();
        var d6 = canvas.getContext('2d');
        d6.font = '6pt VNF-Futura';
        d6.fillStyle = 'black'
        d6.fillText(de6, 697, 322);

        var de7 = $('#scn').text();
        var d7 = canvas.getContext('2d');
        d7.font = '6pt VNF-Futura';
        d7.fillStyle = 'black'
        d7.fillText(de7, 156, 468);

        // Event handler for download
        //dwn.onclick = function () {
        //    download(canvas, 'chungnhan.png');
        //}

        $("#bu").click(function () {
            download(canvas, 'chungnhan.png');
        });

    }

    function download(canvas, filename) {
        /// create an "off-screen" anchor tag
        var lnk = document.createElement('a'), e;

        /// the key here is to set the download attribute of the a tag
        lnk.download = filename;

        /// convert canvas content to data-uri for link. When download
        /// attribute is set the content pointed to by link will be
        /// pushed as "download" in HTML5 capable browsers
        lnk.href = canvas.toDataURL("image/png;base64");

        /// create a "fake" click-event to trigger the download
        if (document.createEvent) {
            e = document.createEvent("MouseEvents");
            e.initMouseEvent("click", true, true, window,
                             0, 0, 0, 0, 0, false, false, false,
                             false, 0, null);

            lnk.dispatchEvent(e);
        } else if (lnk.fireEvent) {
            lnk.fireEvent("onclick");
        }
    }

    function Laycn(id) {
        
        Iddkhd = id;

        $.ajax({
            url: '/DsSinhvienTheohd/Get/' + Iddkhd,
            type: 'POST',
            dataType: 'text',
            data: {
                id: Iddkhd,
            }
        })
        $.ajax({
            url: '/DsSinhvienTheohd/LayCn',
            type: 'POST',
            dataType: 'text',
            data: {
                IdDangKiHD: Iddkhd
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                return;
            }
        });
    }
    //});
</script>

<style>
    #bu:hover {
        background-color: aqua;
    }
</style>