@using DATH.Models;
@using PagedList.Mvc;
@model PagedList.IPagedList<HoatDong>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayOut/QuantriLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="//cdn.ckeditor.com/4.13.0/standard/ckeditor.js"></script>
<h2>Quản lý hoạt động</h2>
    <p style="margin-top:30px">
        @*<a style="cursor:pointer" onclick="Add()">Thêm mới</a>*@
        @Html.ActionLink("Thêm mới", "ThemMoi")
    </p>

    <div style="margin-top:30px">
        <div id="txtTimKiem">
            @using (Html.BeginForm("KetQuaTimKiem", "TrangChuQt", FormMethod.Post))
            {
                @Html.TextBox("txtTimKiem", "", htmlAttributes: new { @class = "TextBoxTimKiem", @placeholder = "Nhập vào từ khóa cần tìm" })

                @*Chèn button và ảnh*@
                <div id="buttontk">
                    <button type="submit"><i class="icon-search"></i></button>
                </div>
            }
        </div>
    </div>
    <div>
        @using (Html.BeginForm("Sapxep", "TrangChuQt", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @*@Html.DropDownList("sapxep")*@

            <select name="sapxep">
                <option value="1">Mới đăng</option>
                <option value="2">Sắp diễn ra</option>
            </select>
            <input type="submit" value="Sắp xếp" />
        }
    </div>
    

    @foreach (var item in Model)
    {
        @*<a style="text-decoration:none" onclick="EditSurvice(@item.IdHoatDong)">*@
        <div class="row" style="margin-top:65px;margin-left:1px">
            <div class="col">
                <div class="info-box-2 bg-teal hover-expand">
                    <div class="icon">
                        <img onclick="EditSurvice(@item.IdHoatDong)" style="cursor:pointer;width:80px;height:80px;margin-top:10px;margin-left:8px" src="~/Images/@item.HinhAnh" alt="Image">
                    </div>
                    <div class="content" style="margin-left:15px">
                        <div onclick="EditSurvice(@item.IdHoatDong)" class="number" style="cursor:pointer;margin-top:0.5px">@Html.DisplayFor(modelItem => item.TenHoatDong) (@Html.DisplayFor(modelItem => item.SLDaDangKi)/@Html.DisplayFor(modelItem => item.GioiHanNguoiThamGia))</div>
                        <div class="text" id="trangthai">
                            Địa điểm : @Html.DisplayFor(modelItem => item.Diadiem)
                            @if (@item.TrangThai == "dd" && item.ThoiGianBD > DateTime.Now)
                            {
                                <div style="cursor:pointer;margin-left:500px;margin-top:-18px;color:blue">Đã duyệt</div>
                            }
                            @if (@item.TrangThai == "dd" && item.ThoiGianKT < DateTime.Now)
                            {
                                <div style="margin-left:500px;margin-top:-18px;color:red">Đã kết thúc</div>
                            }
                            else if (@item.TrangThai == "cd")
                            {
                                <div id="cd" onclick="Xetduyet(@item.IdHoatDong)" style="cursor:pointer;margin-left:500px;margin-top:-18px;color:orange">Chưa xem</div>
                            }
                            else if (@item.TrangThai == "ccs")
                            {
                                <div id="ccs" onclick="Xetduyet(@item.IdHoatDong)" style="cursor:pointer;margin-left:500px;margin-top:-18px;color:green">Chờ chỉnh sửa</div>
                            }
                            else if (@item.TrangThai == "dh")
                            {
                                <div id="dh" style="margin-left:500px;margin-top:-18px;color:red">Đã hủy</div>
                            }
                            else if (@item.TrangThai == "dd" && item.ThoiGianBD <= DateTime.Now && item.ThoiGianKT >= DateTime.Now)
                            {
                                <div style="margin-left:500px;margin-top:-18px;color:blue">Đang diễn ra</div>
                            }
                        </div>

                        <div style="margin-top:5px" class="text"> Bắt đầu: @Html.DisplayFor(modelItem => item.ThoiGianBD)  -  Kết thúc: @Html.DisplayFor(modelItem => item.ThoiGianKT)</div>

                        <ul style="margin-left:600px;margin-top:-48px" id="in">
                            @if (@item.TrangThai == "dd" && item.ThoiGianBD > DateTime.Now)
                            {
                                <li><a href="@Url.Action("Index", "DsSinhvienTheohd", new RouteValueDictionary(new { @id = item.IdHoatDong }))"><img src="https://img.icons8.com/dusk/64/000000/view-file.png" style="width:35px;height:35px"></a></li>
                                <li><a style="text-decoration:none;cursor:pointer" onclick="EditSurvice(@item.IdHoatDong)"><img style="width:35px;height:35px" src="https://img.icons8.com/cute-clipart/50/000000/details-pane.png"></a></li>
                                <li><a style="cursor:pointer" href="@Url.Action("ChinhSua", "TrangChuQt", new RouteValueDictionary(new { @id = item.IdHoatDong }))" @*onclick="EditSurviceCN(@item.IdHoatDong)"*@><img style="width:35px;height:35px" src="https://img.icons8.com/plasticine/100/000000/edit.png"></a></li>
                                <li><a onclick="Delete(@item.IdHoatDong)" style="cursor:pointer"><img style="width:35px;height:35px" src="https://img.icons8.com/flat_round/64/000000/delete-sign.png"></a></li>
                            }
                            else if (item.TrangThai == "dd" && item.ThoiGianBD <= DateTime.Now && item.ThoiGianKT >= DateTime.Now)
                            {
                                <li><a href="@Url.Action("Index", "DsSinhvienTheohd", new RouteValueDictionary(new { @id = item.IdHoatDong }))"><img src="https://img.icons8.com/dusk/64/000000/view-file.png" style="width:35px;height:35px"></a></li>
                                <li><a style="text-decoration:none;cursor:pointer" onclick="EditSurvice(@item.IdHoatDong)"><img style="width:35px;height:35px" src="https://img.icons8.com/cute-clipart/50/000000/details-pane.png"></a></li>
                            }
                            else if (item.TrangThai == "dd" && item.ThoiGianKT < DateTime.Now)
                            {
                                <li><a href="@Url.Action("Index", "DsSinhvienTheohd", new RouteValueDictionary(new { @id = item.IdHoatDong }))"><img src="https://img.icons8.com/dusk/64/000000/view-file.png" style="width:35px;height:35px"></a></li>
                                <li><a style="text-decoration:none;cursor:pointer" onclick="EditSurvice(@item.IdHoatDong)"><img style="width:35px;height:35px" src="https://img.icons8.com/cute-clipart/50/000000/details-pane.png"></a></li>
                            }
                            else
                            {
                                <li><a style="text-decoration:none;cursor:pointer"  onclick="EditSurvice(@item.IdHoatDong)"><img style="width:35px;height:35px" src="https://img.icons8.com/cute-clipart/50/000000/details-pane.png"></a></li>
                                <li><a style="cursor:pointer" href="@Url.Action("ChinhSua", "TrangChuQt", new RouteValueDictionary(new { @id = item.IdHoatDong }))" @*onclick="EditSurviceCN(@item.IdHoatDong)"*@><img style="width:35px;height:35px" src="https://img.icons8.com/plasticine/100/000000/edit.png"></a></li>
                                <li><a onclick="Delete(@item.IdHoatDong)" style="cursor:pointer"><img style="width:35px;height:35px" src="https://img.icons8.com/flat_round/64/000000/delete-sign.png"></a></li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @*</a>*@
    }

    @*--Modal dialog--*@
    <div id="create-service-model" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Chi tiết hoạt động</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        @*<div>
                                <label class="col-form-label">Mã quyền</label>
                                <input type="text" class="form-control" name="NAME">
                            </div>

                            <div>
                                <label class="col-form-label">Tên quyền</label>
                                <input type="text" class="form-control" name="DESCRIPTION">
                            </div>*@
                        <div>
                            <h1 style="color:black;font-weight:400" name="NAME2"><b></b></h1>
                        </div>
                        <div id="chitiethoatdong">
                            <p>Id: <strong style="font-size:15px" name="idhd"></strong></p>
                            <p>Đơn vị tổ chức: <strong style="font-size:15px" name="DONVITOCHUC2"></strong></p>
                            <p>Người tạo hoạt động: <strong style="font-size:15px" name="NGUOITAO2"></strong></p>
                            <p>Thời gian tạo: <strong style="font-size:15px" name="THOIGIANTAO2"></strong></p>
                            <p>
                                Thời gian:<strong style="font-size:15px" name="THOIGIANBATDAU2"></strong>
                                -<strong style="font-size:15px" name="THOIGIANKETTHUC2"> </strong>
                            </p>
                            <p>Địa điểm: <strong style="font-size:15px" name="DIADIEM2"></strong></p>
                            <p>Giới hạn người tham gia: <strong style="font-size:15px" name="GIOIHAN2"></strong></p>
                            <p>Số lượng đã đăng ký: <strong style="font-size:15px" name="SLDADANGKY2"></strong></p>
                            <p>Nội dung chỉnh sửa: <strong style="font-size:15px" name="NDCS2"></strong></p>
                        </div>
                        <br />
                        <strong style="margin-right:35px" name="DESCRIPTION2"></strong>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>

                    <button type="button" id="" onclick="Delete(this.id)" class="btn btn-secondary">Xóa</button>
                    @*<button type="button" id="3" onclick="reply_click(this.id)" class="btn btn-secondary">Xóa</button>*@
                    <button type="button" class="btn btn-secondary">Chỉnh sửa</button>
                </div>
            </div>
        </div>
    </div>
   

    @*--Modal dialog--*@
    <div id="create-service-model3" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật hoạt động</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <label class="col-form-label">Hình ảnh</label>
                            <input type="file" class="form-control" name="HINHANH3">
                        </div>

                        <div>
                            <label class="col-form-label">Tên hoạt động</label>
                            <input type="text" class="form-control" name="NAME3">
                        </div>

                        <div>
                            <label class="col-form-label">Địa điểm</label>
                            <input type="text" class="form-control" name="DIADIEM3">
                        </div>

                        <div>
                            <label class="col-form-label">Thời gian bắt đầu</label>
                            <input type="datetime-local" class="form-control" name="THOIGIANBATDAU3">
                        </div>

                        <div>
                            <label class="col-form-label">Thời gian kết thúc</label>
                            <input type="datetime-local" class="form-control" name="THOIGIANKETTHUC3">
                        </div>

                        <div>
                            <label class="col-form-label">Giới hạn người tham gia</label>
                            <input type="text" class="form-control" name="GIOIHAN3">
                        </div>

                        <div>
                            <label class="col-form-label">Đơn vị tổ chức</label>
                            <input type="text" class="form-control" name="DONVITOCHUC3">
                        </div>

                        <div>
                            <label class="col-form-label">Mô tả chính</label>
                            <textarea name="MOTACHINH3" id="ten"></textarea>
                        </div>

                        <div>
                            <label class="col-form-label">Nội dung chỉnh sửa</label>
                            <textarea name="NDCHINHSUA3" id="ndchinh"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="SaveInfo3()">Lưu lại</button>
                </div>
            </div>
        </div>
    </div>

    <div id="create-service-model1" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <p>Bạn sẽ xóa hoạt động: <strong name="TENQ"></strong></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" onclick="DeleteInfo()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>

    <div id="create-service-model2" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm hoạt động</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <label class="col-form-label">Hình ảnh</label>
                            <input type="file" class="form-control" name="HINHANH1">
                        </div>

                        <div>
                            <label class="col-form-label">Tên hoạt động</label>
                            <input type="text" class="form-control" name="NAME1">
                        </div>

                        <div>
                            <label class="col-form-label">Địa điểm</label>
                            <input type="text" class="form-control" name="DIADIEM1">
                        </div>

                        <div>
                            <label class="col-form-label">Thời gian bắt đầu</label>
                            <input id="datetimepicker1" type="datetime-local" class="form-control" name="THOIGIANBATDAU1">
                        </div>

                        <div>
                            <label class="col-form-label">Thời gian kết thúc</label>
                            <input type="datetime-local" class="form-control" name="THOIGIANKETTHUC1">
                        </div>

                        <div>
                            <label class="col-form-label">Giới hạn người tham gia</label>
                            <input type="text" class="form-control" name="GIOIHAN1">
                        </div>

                        <div>
                            <label class="col-form-label">Đơn vị tổ chức</label>
                            <input type="text" class="form-control" name="DONVITOCHUC1">
                        </div>

                        <div>
                            <label class="col-form-label">Mô tả chính</label>
                            <textarea name="MOTACHINH1"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" onclick="SaveInfo1()">Lưu lại</button>
                </div>
            </div>
        </div>
    </div>

    <div id="create-service-model4" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thông báo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div>
                            <p>Bạn muốn xét duyệt hoạt động: <strong name="TENQ1"></strong></p>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" onclick="Xetduyethd()">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
    
    <script type="text/javascript">


        CKEDITOR.replace('ten');
    CKEDITOR.replace('ndchinh');
    CKEDITOR.replace('MOTACHINH1');

    var Idhd = 0;
    
    function reply_click(clicked_id) {
        alert(clicked_id);
    }

    function Xetduyethd() {
            $.ajax({
            url: '/TrangChuQt/DuyetHd',
                type: 'POST',
                dataType: 'text',
                data: {
                IdHoatDong: Idhd,
                }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function Xetduyet(id) {
        Idhd = id;

            $.ajax({
            url: '/TrangChuQt/GetHoatdong/' + Idhd,
                type: 'POST',
                dataType: 'text',
                data: {
                id: Idhd
                }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
                $("[name='TENQ1']").text(json.NAME);
                $("[name='ID']").text(json.ID);
                $('#create-service-model4').modal("show");
        });
    }

    function SaveInfo3() {
        //var ha = $("[name='HINHANH3']").val();
        var name = $("[name='NAME3']").val();
        var donvi = $("[name='DONVITOCHUC3']").val();
        var bd = $("[name='THOIGIANBATDAU3']").val();
        var kt = $("[name='THOIGIANKETTHUC3']").val();
        var diadiem = $("[name='DIADIEM3']").val();
        var gioihan = $("[name='GIOIHAN3']").val();
        var ndcs = $("[name='NDCHINHSUA3']").val();
        var mt = $("[name='MOTACHINH3']").val();
        var gbd = $("[name='GIOBATDAU3']").val();
        var gkt = $("[name='GIOKETTHUC3']").val();

            $.ajax({
            url: '/TrangchuQt/Edit',
                type: 'POST',
                dataType: 'text',
                data: {
                IdHoatDong: Idhd,
                    TenHoatDong: name,
                    MoTaChinh: mt,
                    ThoiGianBD: bd,
                    ThoiGianKT: kt,
                    GioiHanNguoiThamGia: gioihan,
                    NoiDungChinhSua: ndcs,
                    IdDonViToChuc: donvi,
                    Diadiem: diadiem,
                }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function EditSurviceCN(id) {
        Idhd = id;

            $.ajax({
            url: '/TrangchuQt/GetHoatdong/' + Idhd,
                type: 'POST',
                dataType: 'text',
                data: {
                id: Idhd,
                }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);

                //$("[name='HINHANH']").val(json.HINHANH);

                $("[name='NAME3']").val(json.NAME);
                $("[name='DONVITOCHUC3']").val(json.DONVITOCHUC);
                $("[name='NGUOITAO3']").val(json.NGUOITAO);
                $("[name='THOIGIANBATDAU3']").val(json.THOIGIANBATDAU);
                $("[name='THOIGIANKETTHUC3']").val(json.THOIGIANKETTHUC);
                $("[name='DIADIEM3']").val(json.DIADIEM);
                $("[name='GIOIHAN3']").val(json.GIOIHAN);
                $("[name='NDCHINHSUA3']").val(json.NDCHINHSUA);
                $("[name='MOTACHINH3']").val(json.MOTACHINH);
                $('#create-service-model3').modal("show");
        });
    }

    function Add() {
            $('#create-service-model2').modal("show");
    }

    function SaveInfo1() {
        var name = $("[name='NAME1']").val();
        var donvi = $("[name='DONVITOCHUC1']").val();
        var bd = $("[name='THOIGIANBATDAU1']").val();
        var kt = $("[name='THOIGIANKETTHUC1']").val();
        var diadiem = $("[name='DIADIEM1']").val();
        var gioihan = $("[name='GIOIHAN1']").val();
        var mt = CKEDITOR.instances.MOTACHINH1.getData();

            $.ajax({
            url: '/TrangChuQt/Add',
                type: 'POST',
                dataType: 'text',
                data: {
                IdHoatDong: Idhd,
                    TenHoatDong: name,
                    MoTaChinh: mt,
                    ThoiGianBD: bd,
                    ThoiGianKT: kt,
                    GioiHanNguoiThamGia: gioihan,
                    IdDonViToChuc: donvi,
                    DiaDiem: diadiem,
                }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function DeleteInfo() {
            $.ajax({
            url: '/TrangChuQt/DeleteHoatdong',
                type: 'POST',
                dataType: 'text',
                data: {
                IdHoatDong: Idhd
                }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function Delete(id) {
        Idhd = id;

            $.ajax({
            url: '/TrangChuQt/GetHoatdong/' + Idhd,
                type: 'POST',
                dataType: 'text',
                data: {
                id: Idhd,
                }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
                $("[name='TENQ']").text(json.NAME);
                $('#create-service-model1').modal("show");
        });
    }
    
    function EditSurvice(id1) {
        IdHoatdong1 = id1;

            $.ajax({
            url: '/TrangchuQt/GetHoatdong1/' + IdHoatdong1,
                type: 'POST',
                dataType: 'text',
                data: {
                id1: IdHoatdong1,
                }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);

                $("[name='NAME2']").text(json.NAME);
                $("[name='DONVITOCHUC2']").text(json.DONVITOCHUC);
                $("[name='NGUOITAO2']").text(json.NGUOITAO);
                $("[name='THOIGIANTAO2']").text(json.THOIGIANTAO);
                $("[name='THOIGIANBATDAU2']").text(json.THOIGIANBATDAU);
                $("[name='THOIGIANKETTHUC2']").text(json.THOIGIANKETTHUC);
                $("[name='DIADIEM2']").text(json.DIADIEM);
                $("[name='GIOIHAN2']").text(json.GIOIHAN);
                $("[name='SLDADANGKY2']").text(json.SLDADANGKY);
                $("[name='DESCRIPTION2']").html(json.MOTACHINH);
                $("[name='NDCS2']").html(json.NDCHINHSUA);
                $("[name='idhd']").html(json.ID);
                $("#hd").text(json.ID);
                $('#create-service-model').modal("show");
        });
    }


    </script>

    <div id="trang">
        <h3>Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</h3>
        <div class="sotrang">
            @Html.PagedListPager(Model, Page => Url.Action("Index", new { Page = Page }))
        </div>
    </div>
    <style>
        #txtTimKiem {
            float: left;
            width: 500px;
            height: 27px;
            margin-bottom: -26px;
        }

        #buttontk {
            float: left;
            margin-left: 470px;
        }

        .icon img {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        #in li {
            display: inline-block;
            margin-left: 8px;
        }
    </style>

