@model IEnumerable<DATH.Models.NguoiDung>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/LayOut/QuantriLayout.cshtml";
}
<script src="~/Content/MD5.js"></script>
<h2>Quản lý quản trị</h2>

<p style="margin-top:30px">
    
    <a style="cursor:pointer" onclick="Add()">Thêm mới</a>
</p>

<!-- Exportable Table -->
<div class="row clearfix" style="margin-top:30px">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2></h2>
            </div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover dataTable js-exportable">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ho_Ten)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SDT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdChucVu)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>STT</th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SoId)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Ho_Ten)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SDT)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IdChucVu)
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td></td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SoId)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Ho_Ten)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SDT)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ChucVu.MoTa)
                                    </td>
                                    <td>
                                        <a style="cursor:pointer" onclick="EditSurvice(@item.IdInfo)"><img src="https://img.icons8.com/plasticine/100/000000/edit.png" style="width:35px;height:35px"></a>
                                        <a style="cursor:pointer" onclick="Delete(@item.IdInfo)"><img src="https://img.icons8.com/flat_round/64/000000/delete-sign.png" style="width:35px;height:35px"></a>
                                        <a style="cursor:pointer;margin-left:5px" onclick="Deletemk(@item.IdInfo)">Reset mật khẩu</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

@*--Modal dialog--*@
<div id="create-service-model" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật thông tin quản trị viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <label class="col-form-label">Mã quản trị</label>
                        <input type="text" class="form-control" name="MASO">
                    </div>

                    <div>
                        <label class="col-form-label">Họ tên</label>
                        <input type="text" class="form-control" name="NAME">
                    </div>

                    <div>
                        <label class="col-form-label">Số điện thoại</label>
                        <input type="text" class="form-control" name="SDT">
                    </div>

                    <div>
                        <label class="col-form-label">Chức vụ</label>
                            <select id="myselect">
                                <option id="k" value="1" name="CHUCVU"></option>
                                <option id="dk" value="2">2</option>
                            </select>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<div id="create-service-model3" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Cập nhật thông tin quản trị viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <label class="col-form-label">Mã quản trị</label>
                        <input type="text" class="form-control" name="MASO1">
                    </div>

                    <div>
                        <label class="col-form-label">Họ tên</label>
                        <input type="text" class="form-control" name="NAME1">
                    </div>

                    <div>
                        <label class="col-form-label">Số điện thoại</label>
                        <input type="text" class="form-control" name="SDT1">
                    </div>

                    <div>
                        <label class="col-form-label">Chức vụ</label>
                            <select id="myselect1">
                                <option id="dk1" value="2" name="CHUCVU1"></option>
                                <option id="k1" value="1">1</option>
                            </select>
                        
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="SaveInfo1()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<div id="create-service-model1" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <p>Bạn sẽ xóa quản trị viên: <strong name="TENMS"></strong> - <strong name="TENQ"></strong></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="DeleteInfo()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

@*--Modal dialog--*@
<div id="create-service-model2" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm quản trị viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <label class="col-form-label">Mã quản trị</label>
                        <input type="text" class="form-control" name="MASO2">
                    </div>

                    <div>
                        <label class="col-form-label">Họ tên</label>
                        <input type="text" class="form-control" name="NAME2">
                    </div>

                    <div>
                        <label class="col-form-label">Số điện thoại</label>
                        <input type="text" class="form-control" name="SDT2">
                    </div>

                    <div>
                        <label class="col-form-label">Chức vụ</label>
                        @*<input class="form-control" name="CHUCVU">*@
                        <select id="myselect2">
                            <option id="te" value="2">2</option>
                            <option id="te1" value="1">1</option>
                        </select>
                    </div>

                    @*<div>
                        <label class="col-form-label">Mật khẩu</label>
                        <input type="password" class="form-control" name="MATKHAU2">
                    </div>*@
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" onclick="Save()">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<div id="create-service-model4" class="modal fade create-service-md" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div>
                        <p>Bạn sẽ khôi phục mật khẩu mặc định cho quản trị viên: <strong name="TENMS4"></strong> - <strong name="TENQ4"></strong></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" onclick="DeleteInfomk()">Đồng ý</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var Idqt = 0;

    function Add() {
        $('#create-service-model2').modal("show");
        $("#te").text("DK");
        $("#te1").text("K");
    }

    function Save() {
        var maso = $("[name='MASO2']").val();
        var name = $("[name='NAME2']").val();
        var sdt = $("[name='SDT2']").val();
        //var matkhau = $("[name='MATKHAU2']").val();
        var chucvu = $("#myselect2").val();
        //var pass = "";
        $.ajax({
            url: '/QuanlyQuantri/AddQuantri',
            type: 'POST',
            dataType: 'text',
            data: {
                //pass : matkhau,
                IdInfo: Idqt,
                SoId: maso,
                Ho_Ten: name,
                SDT: sdt,
                IdChucVu: chucvu,
                TaiKhoan : maso,
                //MatKhau : matkhau
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function SaveInfo() {
        var maso = $("[name='MASO']").val();
        var name = $("[name='NAME']").val();
        var sdt = $("[name='SDT']").val();
        var matkhau = $("[name='MATKHAU']").val();
        var chucvu = $("#myselect").val();
        var pass = "";
        $.ajax({
            url: '/QuanlyQuantri/EditQuantri' + pass,
            type: 'POST',
            dataType: 'text',
            data: {
                pass : matkhau,
                IdInfo: Idqt,
                SoId: maso,
                Ho_Ten: name,
                SDT: sdt,
                IdChucVu: chucvu,
                TaiKhoan : maso,
                //MatKhau : matkhau
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function SaveInfo1() {
        var maso = $("[name='MASO1']").val();
        var name = $("[name='NAME1']").val();
        var sdt = $("[name='SDT1']").val();
        var matkhau = $("[name='MATKHAU1']").val();
        var chucvu = $("#myselect1").val();
        var pass = "";
        $.ajax({
            url: '/QuanlyQuantri/EditQuantri',
            type: 'POST',
            dataType: 'text',
            data: {
                IdInfo: Idqt,
                SoId: maso,
                Ho_Ten: name,
                SDT: sdt,
                IdChucVu: chucvu,
                TaiKhoan : maso,
                //MatKhau : matkhau,
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Lưu dữ liệu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function DeleteInfo() {
        $.ajax({
            url: '/QuanlyQuantri/DeleteQuantri',
            type: 'POST',
            dataType: 'text',
            data: {
                IdInfo: Idqt
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Xóa thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }

    function Delete(id) {
        Idqt = id;

        $.ajax({
            url: '/QuanlyQuantri/GetQuantri/' + Idqt,
            type: 'POST',
            dataType: 'text',
            data: {
                id: Idqt,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("[name='TENMS']").text(json.MASO);
            $("[name='TENQ']").text(json.NAME);
            $('#create-service-model1').modal("show");
        });
    }

    function EditSurvice(id) {
        Idqt = id;

        $.ajax({
            url: '/QuanlyQuantri/GetQuantri/' + Idqt,
            type: 'POST',
            dataType: 'text',
            data: {
                id: Idqt,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("[name='MASO']").val(json.MASO);
            $("[name='NAME']").val(json.NAME);
            $("[name='SDT']").val(json.SDT);
            $("[name='CHUCVU']").text(json.CHUCVU);
            $("[name='MATKHAU']").val(json.MATKHAU);
            $("[name='MASO1']").val(json.MASO);
            $("[name='NAME1']").val(json.NAME);
            $("[name='SDT1']").val(json.SDT);
            $("[name='CHUCVU1']").text(json.CHUCVU);
            if (json.CHUCVU == "1") {
                $('#dk').text("DK");
                $('#k').text("K");
                $('#create-service-model').modal("show");
            }
            else if (json.CHUCVU == "2") {
                $('#dk1').text("DK");
                $('#k1').text("K");
                $('#create-service-model3').modal("show");
            }
        });
    }

    function Deletemk(id) {
        Idqt = id;

        $.ajax({
            url: '/QuanlyQuantri/GetQuantri/' + Idqt,
            type: 'POST',
            dataType: 'text',
            data: {
                id: Idqt,
            }
        }).done(function (ketqua) {
            var json = JSON.parse(ketqua);
            $("[name='TENMS4']").text(json.MASO);
            $("[name='TENQ4']").text(json.NAME);
            $('#create-service-model4').modal("show");
        });
    }
    function DeleteInfomk() {
        $.ajax({
            url: '/QuanlyQuantri/ResetMk',
            type: 'POST',
            dataType: 'text',
            data: {
                IdInfo: Idqt
            }
        }).done(function (ketqua) {
            if (ketqua == "ok") {
                alert("Khôi phục mật khẩu thành công");
                location.reload();
                return;
            }
            alert(ketqua);
        });
    }
</script>